{% extends 'base.html.twig' %}

{% block title %}Détails de la Personne{% endblock %}

{% block body %}
    <h1>Détails de la Personne</h1>

    <div class="person-details">
        <table class="table">
            <tbody>
                <tr>
                    <th>ID :</th>
                    <td>{{ personne.id }}</td>
                </tr>
                <tr>
                    <th>Nom :</th>
                    <td>{{ personne.nom }}</td>
                </tr>
                <tr>
                    <th>Prénom :</th>
                    <td>{{ personne.prenom }}</td>
                </tr>
                <tr>
                    <th>Email :</th>
                    <td>{{ personne.email }}</td>
                </tr>
                <tr>
                    <th>Téléphone :</th>
                    <td>{{ personne.telephone }}</td>
                </tr>
            </tbody>
        </table>
    </div>

    <div class="action-buttons">
        <a class="btn btn-primary" href="{{ path('app_personne_index') }}">Retour à la liste</a>
        <a class="btn btn-secondary" href="{{ path('app_personne_edit', {'id': personne.id}) }}">Modifier</a>
    </div>

    {{ include('personne/_delete_form.html.twig') }}
{% endblock %}
